<section class="about-section">
  <div class="about-container">
    <h1 class="about-title">Bienvenue chez <span>Fil de Coquelicot</span> !</h1>
    <p class="about-text">
      Je suis Catherine, passionnée de loisirs créatifs et créatrice de cette micro-entreprise à Hégenheim (68).
      La couture est mon moyen d'exprimer ma créativité tout en respectant mes valeurs de durabilité. Chaque pièce
      est réalisée avec soin, pensée pour être utile, belle, et respectueuse de l'environnement. Avec Fil de Coquelicot,
      je tisse mon histoire au gré des rencontres, entourée de ma famille et de mes amis.
    </p>
  </div>
</section>
