<section class="about-section">
  <div class="about-content">
    <h1>Bienvenue chez Fil de coquelicot !</h1>
    <p>
      Je me présente : je suis Catherine, créatrice de cette micro-entreprise. Installée à Hégenheim (68),
      j'ai toujours été passionnée par les loisirs créatifs et la décoration florale. Aujourd'hui, la couture me
      permet d'exprimer ma créativité tout en respectant des valeurs de durabilité. Mes créations sont fabriquées
      à partir de tissus sélectionnés avec soin et pensées pour être à la fois utiles et belles. J'attache une
      grande importance à la qualité de mes réalisations, produites de manière artisanale. Je ne fais pas que coudre
      des tissus, mais aussi tisser mon histoire au gré des rencontres et des sourires, entourée de ma famille et
      d'amis.
    </p>
  </div>
</section>
