<div class="others-section">
  <div class="featured-product-text">
    <h1>
      <span>Autres réalisations</span>
    </h1>
  </div>
  <section>
    <ul class="grid">
      <li>
        <figure class="grid__figure">
          <img src="assets/images/passport.jpg" alt="">
          <figcaption>Pochette documents de voyage</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/sac.jpg" alt="">
          <figcaption>Alternative écologique aux sacs</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/pochette.jpg" alt="">
          <figcaption>Porte savon nomade.</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/passport.jpg" alt="">
          <figcaption>Pochette documents de voyage</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/sac.jpg" alt="">
          <figcaption>Alternative écologique aux sacs</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/pochette.jpg" alt="">
          <figcaption>Porte savon nomade.</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/passport.jpg" alt="">
          <figcaption>Pochette documents de voyage</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/sac.jpg" alt="">
          <figcaption>Alternative écologique aux sacs</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/pochette.jpg" alt="">
          <figcaption>Porte savon nomade.</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/passport.jpg" alt="">
          <figcaption>Pochette documents de voyage</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/sac.jpg" alt="">
          <figcaption>Sac en toile, réutilisable, alternative écologique aux sacs plastiques.</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/pochette.jpg" alt="">
          <figcaption>Porte savon nomade.</figcaption>
        </figure>
      </li>
    </ul>
</section>
</div>
