<div class="others-section">
  <div class="featured-product-text">
    <h1>
      <span>Autres réalisations</span>
    </h1>
  </div>
  <section>
    <ul class="grid">
      <li>
        <figure class="grid__figure">
          <img src="assets/images/pochettedocuments.jpg" alt="">
          <figcaption>Pochette documents de voyage</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/panierrangement.jpg" alt="">
          <figcaption>Paniers de rangement</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/trousses.jpg" alt="">
          <figcaption>Trousses</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/portesavon.jpg" alt="">
          <figcaption>Porte savon nomade</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/cadeaunaissance.jpg" alt="">
          <figcaption>Idée cadeau de naissance</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/attachecable.jpg" alt="">
          <figcaption>Attache câble</figcaption>
        </figure>
      </li>
      <li>
        <figure class="grid__figure">
          <img src="assets/images/sac.jpg" alt="">
          <figcaption>Alternative écologique aux sacs</figcaption>
        </figure>
      </li>
    </ul>
</section>
</div>
