<div>
  <div class="featured-product-text">
    <h1>
      La collection<br />
      <span>L'univers des petits</span>
    </h1>
    <p>
      Mes créations sont fabriquées à partir de tissus sélectionnés avec soin et pensées pour être à la fois utiles et belles. Elles incarnent tout le soin et l’attention portées à l’univers des tout-petits.
      Ces accessoires facilitent le quotidien tout en étant esthétiques et fonctionnels.
    </p>
  </div>
  <section>
    <div class="container">
      <div class="carousel">
        <input type="radio" name="slides" checked="checked" id="slide-1">
        <input type="radio" name="slides" id="slide-2">
        <input type="radio" name="slides" id="slide-3">
        <input type="radio" name="slides" id="slide-4">
        <input type="radio" name="slides" id="slide-5">
        <input type="radio" name="slides" id="slide-6">
        <ul class="carousel__slides">
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="assets/images/passport.jpg" alt="">
              </div>
              <figcaption>
                Lingettes et panier.
                <span class="credit">Utilisation multiple</span>
              </figcaption>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="assets/images/fanion.jpg" alt="">
              </div>
              <figcaption>
                Guirlande de fanions.
                <span class="credit">Accessoire de décoration intemporelle pour embellir leur chambre.</span>
              </figcaption>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="assets/images/pochette.jpg" alt="">
              </div>
              <figcaption>
                Pochette nomade pour le change.
                <span class="credit">Pratique pour les déplacements de bébé et retrouver les essentiels bien organisés</span>
              </figcaption>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="assets/images/sac.jpg" alt="">
              </div>
              <figcaption>
                Matelas à langer nomade pliable.
                <span class="credit">Hygiénique pour changer bébé partout</span>
              </figcaption>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="assets/images/fanion.jpg" alt="">
              </div>
              <figcaption>
                Pochons.
                <span class="credit">Très utiles pour ranger leurs nombreux trésors</span>
              </figcaption>
            </figure>
          </li>
          <li class="carousel__slide">
            <figure>
              <div>
                <img src="assets/images/pochette.jpg" alt="">
              </div>
              <figcaption>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                <span class="credit">Photo: Annie Spratt</span>
              </figcaption>
            </figure>
          </li>
        </ul>
        <ul class="carousel__thumbnails">
          <li>
            <label for="slide-1"><img src="assets/images/passport.jpg" alt=""></label>
          </li>
          <li>
            <label for="slide-2"><img src="assets/images/fanion.jpg" alt=""></label>
          </li>
          <li>
            <label for="slide-3"><img src="assets/images/pochette.jpg" alt=""></label>
          </li>
          <li>
            <label for="slide-4"><img src="assets/images/sac.jpg" alt=""></label>
          </li>
          <li>
            <label for="slide-5"><img src="assets/images/fanion.jpg" alt=""></label>
          </li>
          <li>
            <label for="slide-6"><img src="assets/images/pochette.jpg" alt=""></label>
          </li>
        </ul>
      </div>
    </div>
  </section>
</div>
