<div>
  <div class="featured-product-text">
    <h1>
      Mes incontournables<br />
      <span>lingettes</span>
    </h1>
    <p>
      Choisir d'utiliser des lingettes démaquillantes ou nettoyantes, c'est opter pour un produit doux et agréable pour votre peau
      mais également pour la planète. Toutes les éponges bambou ont un label Oekotex, garantissant que les textiles sont
      exempts de substances nocives pour la santé.
      <br>Création artisanale française
    </p>
  </div>
  <section>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/douce.jpg" alt="Big Ben">
      <div class="card__overlay">
        <h2>Douces</h2>
        <p>Conçues pour respecter les peaux les plus délicates</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/11.jpg" alt="Eiffel Tower">
      <div class="card__overlay">
        <h2>Hypoallergéniques </h2>
        <p>Sans irritants pour éviter les rougeurs et allergies</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/12.jpg" alt="Colosseum">
      <div class="card__overlay">
        <h2>Durables</h2>
        <p>Limite la production de déchets</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/reutilisable.jpg" alt="Pisa Tower">
      <div class="card__overlay">
        <h2>Réutilisables </h2>
        <p>Lavables pour une utilisation éco responsable</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/pratique.jpg" alt="">
      <div class="card__overlay">
        <h2>Pratiques</h2>
        <p>Format idéal pour la maison ou les déplacements</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/personalise.jpg" alt="Sydney Opera House">
      <div class="card__overlay">
        <h2>Personnalisées </h2>
        <p>Disponibles dans de nombreux styles et motifs</p>
      </div>
    </div>
  </div>
</section>
  <app-format></app-format>
  <div class="button-container">
    <a href="mailto:fildecoquelicot@orange.fr" class="contact-button" title="Contact fildecoquelicot">
    Me Contacter
  </a>
  </div>
</div>
