<div>
  <div class="featured-product-text">
    <h1>
      Mon produit phare:<br />
      <span>Les lingettes</span>
    </h1>
    <p>
      Choisir d'utiliser des lingettes démaquillantes ou nettoyantes, c'est opter pour un produit doux et agréable pour votre peau
      mais également pour la planète. Toutes les éponges bambou ont un label Oekotex, garantissant que les textiles sont
      exempts de substances nocives pour la santé.
    </p>
  </div>
  <section>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/lingette1.jpg" alt="Big Ben">
      <div class="card__overlay">
        <h2>London</h2>
        <p>Big Ben</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/lingette2.jpeg" alt="Eiffel Tower">
      <div class="card__overlay">
        <h2>Paris</h2>
        <p>Eiffel Tower</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/lingette3.jpeg" alt="Colosseum">
      <div class="card__overlay">
        <h2>Rome</h2>
        <p>Colosseum</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/lingette4.jpeg" alt="Pisa Tower">
      <div class="card__overlay">
        <h2>Pisa</h2>
        <p>Pisa Tower</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/lingette1.jpg" alt="">
      <div class="card__overlay">
        <h2>New York</h2>
        <p>Statue of Liberty</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/lingette2.jpeg" alt="Sydney Opera House">
      <div class="card__overlay">
        <h2>Sydney</h2>
        <p>Sydney Opera House</p>
      </div>
    </div>
  </div>
</section>
  <div class="button-container">
    <a href="#contact" class="contact-button">Me Contacter</a>
  </div>
</div>
