<div>
  <div class="featured-product-text">
    <h1>
      Mon produit phare:<br />
      <span>Les lingettes</span>
    </h1>
    <p>
      Choisir d'utiliser des lingettes démaquillantes ou nettoyantes, c'est opter pour un produit doux et agréable pour votre peau
      mais également pour la planète. Toutes les éponges bambou ont un label Oekotex, garantissant que les textiles sont
      exempts de substances nocives pour la santé.
    </p>
  </div>
  <section>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/lingette1.jpg" alt="Big Ben">
      <div class="card__overlay">
        <h2>Douces</h2>
        <p>Conçues pour respecter la peau délicate des bébés</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/lingette2.jpeg" alt="Eiffel Tower">
      <div class="card__overlay">
        <h2>Hypoallergéniques </h2>
        <p>Sans irritants pour éviter les rougeurs et allergies</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/lingette3.jpeg" alt="Colosseum">
      <div class="card__overlay">
        <h2>Écologiques</h2>
        <p>Fabriquées avec des matériaux naturels et durables</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/lingette4.jpeg" alt="Pisa Tower">
      <div class="card__overlay">
        <h2>Réutilisables </h2>
        <p>Lavables pour une utilisation durable et économique</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/lingette1.jpg" alt="">
      <div class="card__overlay">
        <h2>Pratiques</h2>
        <p>Format idéal pour la maison ou les déplacements</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card__img">
      <img src="assets/images/lingette2.jpeg" alt="Sydney Opera House">
      <div class="card__overlay">
        <h2>Personnalisées </h2>
        <p>Disponibles dans des motifs et styles uniques</p>
      </div>
    </div>
  </div>
</section>
  <div class="button-container">
    <a href="mailto:youremail@example.com" class="contact-button" title="Envoyer un email à youremail@example.com">
    Me Contacter
  </a>
  </div>

</div>
